<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Owner Dashboard</title>
    <link rel="stylesheet" href="static/styleown.css">
</head>
<body>
<header>
    <h1>Special Tea Shop</h1>
</header>
<div class="side-menu">
    <ul>
        <li><a href="home_own.html">Home</a></li>
        <li><a href="access_own.html">Access</a></li>
        <li><a href="stats_own.html">Stats</a></li>
        <li><a href="settings.html">Settings</a></li>
        <li><a>Logout</a></li>
    </ul>

</div>

<div class="Container">


</div>
</body>
</html>